
<h2>WDInstagram Submissions</h2>
<ul>
  <% @entries.each do |entry| %>
    <li><a href="/<%=entry.id%>"><%= entry.id %>, <%= entry.author %> </a></li>
    <img class="photo" src="<%= entry.photo_url %>" />
  <%end%>
</ul>

<h3><a href="/new">New Submission</a></h3>
