<form method="post" action="/">
  <input type = "text" name="entry[author]" placeholder="Author">
  <input type = "text" name="entry[photo_url]" placeholder="Photo Url">
  <input type = "text" name="entry[date_taken]" placeholder="Date Taken">
  <input type="submit" value="Update">
</form>
